includes:
  - vendor/bovigo/assert/src/main/resources/phpstan/bovigo-assert.neon
parameters:
  inferPrivatePropertyTypeFromConstructor: true
  level: max
  paths:
      - ./src/main/php
      - ./src/test/php
  ignoreErrors:
      # False positive
      - '#Call to an undefined method stubbles\\reflect\\annotation\\Annotation::#'
      -
          message: '#entity of method stubbles\\xml\\rss\\RssFeed::addEntity\(\) expects object, int given#'
          path: src/test/php/rss/RssFeedItemFromEntityTest.php
      -
          message: '#doc of method XSLTProcessor::transformToDoc() expects DOMNode, DOMDocument|null given#'
          path: src/main/php/xsl/XslProcessor.php
      # phpstan doesn't know return values of \XSLTProcessor properly
      -
          message: '#Strict comparison using === between false and DOMDocument will always evaluate to false#'
          path: src/main/php/xsl/XslProcessor.php
      -
          message: '#Strict comparison using === between false and int will always evaluate to false#'
          path: src/main/php/xsl/XslProcessor.php
      -
          message: '#Strict comparison using === between false and string will always evaluate to false#'
          path: src/main/php/xsl/XslProcessor.php
