parameters:
  level: 7
  paths:
      - ./src
  ignoreErrors:
      # False positive
      - '#Call to an undefined method stubbles\\reflect\\annotation\\Annotation::get#'
      - '#Call to an undefined method stubbles\\reflect\\annotation\\Annotation::attributeName\(\)#'
      - '#Call to an undefined method stubbles\\reflect\\annotation\\Annotation::tagName\(\)#'
      -
          message: '#Method ReflectionFunction::invokeArgs\(\) invoked with 2 parameters, 1 required#'
          path: src/main/php/xsl/XslCallbacks.php
      -
          message: '#Call to an undefined method stubbles\\xml\\xsl\\XslProcessor::callRegisterCallbacks\(\)#'
          path: src/test/php/xsl/XslProcessorTest.php
