parameters:
  level: 7
  paths:
      - ./src
  ignoreErrors:
      # False positive
      - '#Call to an undefined method stubbles\\reflect\\annotation\\Annotation::get#'
      - '#Call to an undefined method stubbles\\reflect\\annotation\\Annotation::attributeName\(\)#'
      - '#Call to an undefined method stubbles\\reflect\\annotation\\Annotation::tagName\(\)#'
      - '#bovigo\\callmap\\ClassProxy given#'
      -
          message: '#Call to an undefined method stubbles\\xml\\xsl\\XslProcessor::callRegisterCallbacks\(\)#'
          path: src/test/php/xsl/XslProcessorTest.php
